<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Restaurant Menu</title>
  </head>
  <body>
    <h1>{{restaurant.name}} Menu</h1>
    <a href="{{url_for('newMenuItem',restaurant_id=restaurant.id)}}">Add new menu item</a>
    {%if items%}
      {%for item in items%}
        <h1>{{item.name}}</h1>
        {{item.description}}<br>
        {{item.price}}<br>
        {{item.course}}<br>
        <a href="{{url_for('editMenuItem',restaurant_id = restaurant.id, menu_id = item.id)}}">Edit</a>
        <a href="{{url_for('deleteMenuItem',restaurant_id = restaurant.id, menu_id = item.id)}}">Delete</a>
      {%endfor%}
    {%elif not items%}
      <h2>No menu items found</h2>
    {%endif%}

  </body>
</html>
