<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add new menu item</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Add new menu item</h1>
    <form action="{{url_for('newMenuItem',restaurant_id = restaurant_id)}}" method="post">
      Name:<input type="text" name="new_item_name" placeholder="enter name here"><br>
      Description:<input type="text" name="new_item_description" placeholder="e.g. made from cheese"><br>
      Price:<input type="text" name="new_item_price" placeholder="e.g. $5.99"><br>
      Course:<input type="text" name="new_item_course" placeholder="e.g."><br>
      <input type="submit" name="submit" value="Add">
      <a href="#">Cancel</a>
    </form>
  </body>
</html>
