<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Restaurants</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Restaurants</h1>
    <!--MESSAGE FLASHING EXAMPLE -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
    {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <a href="{{url_for('newRestaurant')}}">Add new restaurant</a>
    {%for i in restaurants%}
    <div>
      <a href="{{url_for('showMenu',restaurant_id=i.id)}}"><h2>{{i.name}}</h2></a>
      <a href="{{url_for('editRestaurant',restaurant_id = i.id)}}">Edit Restaurant</a><br>
      <a href="{{url_for('deleteRestaurant',restaurant_id = i.id)}}">Delete Restaurant</a>
      <br><br>
    </div>
    {%endfor%}
  </body>
</html>
